<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: header"></head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <a class="btn btn-primary btn-block" href="/add">Add a Message</a>
            <h3 th:text="${username}"></h3>
            <div th:each="message : ${messages}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <b th:text="${message.content}"></b><br/>
                        <small th:inline="text">Posted by [[${message.user.getUsername()}]] on [[${message.posteddate}]]</small>
                    </div>
                    <div class="panel-footer">
                        <a th:href="@{/edit/{id}(id=${message.id})}">Edit</a> -
                        <a th:href="@{/messages/{id}(id=${message.id})}">View</a> -
                        <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav th:replace="base :: footer"></nav>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>