<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: header"></head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form action="#" th:action="@{/process}"
                  th:object="${message}"
                  enctype="multipart/form-data"
                  method="post">
                <input class="form-control" type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <label class="control-label" >Tweet</label>
                    <input class="form-control input-lg" rows="3" th:field="*{content}" />
                    <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" >Posted Date</label>
                    <input id="datePicker" class="form-control" type="date" th:field="*{posteddate}" />
                    <span th:if="${#fields.hasErrors('posteddate')}" th:errors="*{posteddate}"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" >Sent by</label>
                    <input class="form-control" type="text" th:field="*{sentby}" />
                    <span th:if="${#fields.hasErrors('sentby')}" th:errors="*{sentby}"></span>
                </div>
                <div class="form-group">
                    <label  class="control-label" >Image</label>
                    <input type="file" name="file" required="true"/><br /><br />
                </div>
                <input class="btn btn-success btn-block" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>

<nav th:replace="base :: footer"></nav>
<th:block th:replace="base :: jslinks"></th:block>
<script>
    document.getElementById('datePicker').valueAsDate = new Date();
</script>
</body>
</html>