<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: header"></head>
<body>
    <nav th:replace="base :: navbar"></nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a class="btn btn-primary" href="/add">Add a Message</a>
                <a class="btn btn-success" href="/">Show all tweets</a>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4><span th:text="${message.content}"></span></h4> <br />
                        <img th:src="${message.image}" class="img-responsive"/>
                    </div>
                    <div class="panel-footer">
                        Posted on: <span th:text="${#dates.format(message.posteddate, 'dd-MM-yyyy')}"></span>
                        By: <span th:text="${message.sentby}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav th:replace="base :: footer"></nav>
    <th:block th:replace="base :: jslinks"></th:block>
</body>
</html>